<app-course-list-search (filterChange)="onFilterChange($event)"></app-course-list-search>

<div class="input-group mb-3">
  <button class="btn btn-success" (click)="onAddCourse()">Add new course</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Duration</th>
    <th scope="col">Duration Unit</th>
    <th scope="col">Description</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses; let i = index">
    <app-course-list-item
      [course]="course"
      [index]="i"
      (delete)="onDeleteCourse(course.id, i)"
    ></app-course-list-item>
  </tr>
  </tbody>
</table>
